<!DOCTYPE html>
<html>
<head>
	<title>Report</title>
	<link rel="stylesheet" type="text/css" href="C:/Users/Prashanth/Desktop/HTML/ProjectStyles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src ="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	

	<h1>Availed and Non Availed Report </h1>
	<style>
		h1{
			text-align : center;
			color : purple;

		}
		thead{
			font-weight : bold;
			background-color: olive;
		}
		
		

	</style>
	
<body>
<div id='buttons'>
<form  action="availed/" method="get">
    <input type="submit" value="Availed" >
</form>



<form id ='b2' action="unknown/" method="get">
    <input type="submit" value="Unknown">
</form>
</div>

	<table  class='table table-striped table-bordered table-sm' cellspacing='0' width='100%'>
	<tbody>
		<thead>
			<tr>
			<td>Outageid</td>
			<td>Shutid</td>
			<td>Element</td>
			<td>Startdate</td>
			<td>Enddate</td>
			<td>Actions</td>
			</tr>
		</thead>
		{% for i in items %}
		<tr>
			<td>{{i.outageid}}</td>
			<td>{{i.shutid}}</td>
			<td>{{i.element}}</td>
			<td>{{i.startdate}}</td>
			<td>{{i.enddate}}</td>
		</tr>
		{% endfor %}

	</tbody>
	</table>

</body>
</html>